@model IEnumerable<GestionRH.Models.MantenimientoEmpleado>
@{
    ViewData["Title"] = "Inactivo";
}

<h1>Empleados Inactivos</h1>

<form asp-action="Inactivos" method="post">
    <div class="form-actions no-color d-flex justify-content-between" style=" border:solid; border-radius:5px; border-width:2px; padding:0.6px">
        <input type="search" name="busqueda" value="" class="form-control" placeholder="Buscar por nombre...">
        <input type="date" name="fecha0" value="" class="form-control" placeholder="Buscar por fecha...">
        <input type="submit" value="Buscar" class="btn btn-outline-success form-control" />
    </div>
</form>

<table class="table table-responsive">
    <thead>
        <tr>
            <th class="table-dark">
                @Html.DisplayName("Codigo")
            </th>
            <th class="table-dark">
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th class="table-dark">
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th class="table-dark">
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th class="table-dark">
                @Html.DisplayNameFor(model => model.Departamento)
            </th>
            <th class="table-dark">
                @Html.DisplayName("Ingreso")
            </th>
            <th class="table-dark">
                @Html.DisplayNameFor(model => model.Salario)
            </th>
            <th class="table-dark">
                @Html.DisplayName("Estado")
            </th>
            <th class="table-dark">
                @Html.DisplayNameFor(model => model.Cargo)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            if (item.Estatus == false)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CodigoEmpleado)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Apellido)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Telefono)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Departamento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaIngreso)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Salario)
                    </td>
                    <td>
                        @if (item.Estatus == true)
                        {@Html.DisplayName("Activo")}
                        else if (item.Estatus == false)
                        {@Html.DisplayName("Inactivo")}
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cargo)
                    </td>
                </tr>
            }
            else { }
        }
    </tbody>
</table>
<div>
    <a asp-action="Index">Volver a Lista</a>
</div>

