@model IEnumerable<GestionRH.Models.MantenimientoEmpleado>

@{
    ViewData["Title"] = "Empleados";
}

<h1>Seccion de Empleados</h1>


<br />
<h5 class="d-flex justify-content-center">Mostrar</h5>
<div class="d-flex justify-content-center" style="border:solid; border-radius:5px; border-width:2px">
    <p>
        <a asp-action="NominaTotal">Ver Nomina total en el Mes</a> |
        <a asp-action="Vacacionesx">Ver Vacaciones Registradas</a> |
        <a asp-action="Licenciasx">Ver Licencias Registradas</a> |
        <a asp-action="Permisosx">Ver Permisos Registrados</a> |
        <a asp-action="Inactivo">Ver Empleados Inactivos</a>
    </p>
</div>
<h5 class="d-flex justify-content-center">Agregar</h5>
<div class="d-flex justify-content-center" style="border:solid; border-radius:5px; border-width:2px">
    <p>
        <a asp-action="Create">Agregar Empleado +</a> |
        <a asp-action="Vacaciones">Registrar Vacaciones +</a> |
        <a asp-action="Licencias">Agregar Licencias +</a> |
        <a asp-action="Permisos">Agregar Permisos +</a> |
        <a asp-action="Licencias">Inhabilitar Empleado</a>
        <!--<a asp-action="Inhabilitar">Inhabilitar Empleado -</a>-->
    </p>
</div>
<br />
<h2 class="d-flex justify-content-center">Empleados</h2>

<form asp-action="Index" method="post">
    <div class="form-actions no-color d-flex justify-content-between" style=" border:solid; border-radius:5px; border-width:2px; padding:0.6px">
        <b>• Buscar por Nombre</b><input type="search" name="busqueda" value="">
        <b>• Buscar por fecha de Ingreso</b><input type="date" name="fecha" value="">
        <input type="submit" value="Buscar" class="btn btn-outline-success" />
        <a asp-action="Index">Volver a Lista Completa</a>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th class="table-dark">
                @Html.DisplayName("Codigo")
            </th>
            <th class="table-dark">
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th class="table-dark">
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th class="table-dark">
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th class="table-dark">
                @Html.DisplayNameFor(model => model.Departamento)
            </th>
            <th class="table-dark">
                @Html.DisplayName("Ingreso")
            </th>
            <th class="table-dark">
                @Html.DisplayNameFor(model => model.Salario)
            </th>
            <th class="table-dark">
                @Html.DisplayName("Estado")
            </th>
            <th class="table-dark">
                @Html.DisplayNameFor(model => model.Cargo)
            </th>
            <th class="table-dark"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            if(item.Estatus == true){
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CodigoEmpleado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefono)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Departamento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaIngreso)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Salario)
                </td>
                <td>
                    @if (item.Estatus == true)
                    {@Html.DisplayName("Activo")}
                    else if (item.Estatus == false)
                    {@Html.DisplayName("Inactivo")}
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cargo)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detalles</a>
                </td>
            </tr>
            }
            else { }
        }
    </tbody>
</table>
