@model IEnumerable<GestionRH.Models.ProcessNominas>

@{
    ViewData["Title"] = "NominasMensuales";
}

<h1>Nominas Mensuales</h1>


<form asp-controller="Empleados" asp-action="NM" method="post">
    <div class="input-group">
        <div class="input-group-prepend">
            <label class="input-group-text">Busqueda por Mes</label>
        </div>
        <select class="custom-select" name="fechanom">
            <option value="1">1. Enero</option>
            <option value="2">2. Febrero</option>
            <option value="3">3. Marzo</option>
            <option value="4">4. Abril</option>
            <option value="5">5. Mayo</option>
            <option value="6">6. Junio</option>
            <option value="7">7. Julio</option>
            <option value="8">8. Agosto</option>
            <option value="9">9. Septiembre</option>
            <option value="10">10. Octubre</option>
            <option value="11">11. Noviembre</option>
            <option value="12">12. Diciembre</option>
        </select> 
        <!---->
        <input type="submit" value="Buscar" class="btn btn-outline-success form-control" />
        <a asp-action="NM" class="form-control">Volver a Lista</a>
    </div>   
</form>

<table class="table">
    <thead>
        <tr>
            <th class="table-dark">
                @Html.DisplayName("Año")
            </th>
            <th class="table-dark">
                @Html.DisplayNameFor(model => model.Mes)
            </th>
            <th class="table-dark">
                @Html.DisplayNameFor(model => model.MontoTotal)
            </th>
            <th class="table-dark"></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MontoTotal)
            </td>
        </tr>
}
    </tbody>
</table>
